node_modules
dist
npm-debug.log*
apps/backend/dist
apps/backend/node_modules
apps/backend/.env
apps/mobile/.dart_tool
apps/mobile/build
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
.idea
.vscode
