node_modules
.npm-cache
.gradle-user-home
dist
npm-debug.log*
*.log
.vercel
apps/backend/dist
apps/backend/node_modules
apps/backend/.env
apps/mobile/.dart_tool
apps/mobile/build
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/android/.gradle
.idea
.vscode
tmp_*
